body {
    margin: 0px;
    padding: 0px;
}


h1 {
    text-align: center;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.card {
    display: grid;
    text-align: center;
    background-color: rgb(207, 207, 206);
    width: 250px;
    height: 300px;
}

.read {
    position: relative;
    font-family: Arial;
    top: 64px;
    left: 10px;
    background-color: black;
    color: white;
    width: 90px;
    height: 30px;
    padding-top: 10px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.card a {
   
    position: relative;
    top: 10px;
    left: 150px;
    font-size: 20px;
    font-family:Arial;
    width: 90px;
    height: 30px;
    padding-top: 10px;
    border-width:1px;
    color:#000000;
    border-color:#000000;
    font-weight:bold;
    background:#f01e1e;
    cursor: pointer;
  }
  
             
