body {
    margin: 0px;
    padding: 0px;
    background-color: bisque;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 199, 130);
    padding-bottom: 20px;
}

h1 {
    font-size: 3rem;
    padding: 50px;
}

.add {
    width: 75px;
    height: 75px;
    background-color: lightgreen;
    font-weight: bold;
    font-size: 1rem;
    font-family: arial;
}   


#container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.card {
    display: grid;
    grid-template-rows: 2fr 2fr 2fr 1fr;
    text-align: center;
    background-color: rgb(255, 255, 255);
    width: 250px;
    height: 300px;
    margin-top: 30px;
    padding: 10px;
}

.card p {
    font-size: 1.7rem;
    font-weight: bold;
}


.btnContainer{
    display: flex;
    justify-content: space-between;
}
.read {

    font-family: Arial;
    background-color: black;
    color: white;
    width: 90px;
    height: 30px;
    padding-top: 10px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.card a {
   
    
    
    font-size: 20px;
    font-family:Arial;
    width: 90px;
    height: 30px;
    padding-top: 10px;
    border-width:1px;
    color:#000000;
    border-color:#000000;
    font-weight:bold;
    background:#f01e1e;
    cursor: pointer;
  }
  
       
